
.dropdown {
  position: relative;
  display: inline-block;
  right: 0;
}

.dropdownBtn {
  border: none;
  padding: 10px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  right: 0;
  z-index: 5;
}

li {
  padding: 8px;
}

li:hover { 
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}