.header {
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.left-icon {
  display: inline-flex;
  align-items: center;
}

.left-icon img {
  width: 30px;
  height: 30px;
}

.left-icon h2 {
  margin: 0 5px;
}
