/* #### General #### */
body {
  overflow: hidden;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.black-btn {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 20px;
}

.white-box {
  background-color: rgba(255, 255, 255, 0.9);
  width: auto;
}

.general-bg {
  background-image: url("./images/background.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.col {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.width-90 {
  width: 90vw;
}

.width-100 {
  width: 100vw;
  left: 0;
  position: absolute;
}

.clickable-line {
  color: rgb(12, 159, 196);
}

.clickable-line:hover {
  color: rgb(16, 135, 165);
  text-decoration: rgb(16, 135, 165) underline;
  cursor: pointer;
}

input.error {
  border-color: rgb(238, 50, 50);
}

.error-msg {
  color: rgb(238, 50, 50);
  display: block;
  margin-bottom: 20px;
}

.hide {
  visibility: hidden;
}

/* #### Header #### */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 1;
  z-index: 10;
}

.header .flex {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
}

.header .left-icon {
  display: inline-flex;
  align-items: center;
}

.header .left-icon img {
  width: 30px;
  height: 30px;
}

.header .left-icon h2 {
  margin: 0 5px;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userScore {
  font-size: small;
  color: gray;
}

.userBox img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

/* #### Footer #### */

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 1;
  z-index: 10;
  font-size: small;
}

.footer .flex {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0;
}

.footer .icon {
  height: 20px;
  width: 20px;
  margin: 5px;
}

/* #### Dropdown #### */

.dropdown {
  position: relative;
  display: inline-block;
  right: 0;
}

.dropdownBtn {
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.dropdownList ul {
  padding: 0;
  margin: 0;
}

.dropdownList li {
  padding: 15px;
  list-style: none;
}

.dropdownList a {
  color: white;
  text-decoration: none;
}

.dropdownList li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.inline-arrow {
  display: inline;
  font-size: 24px;
  font-weight: bolder;
  padding: 0 10px;
}

/* #### Homepage #### */

.homepage {
  background-image: url("./images/uber_home_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .box {
  width: 300px;
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.homepage .box img {
  height: 280px;
}

/* #### Sign Up #### */

.signupForm {
  padding: 20px 0;
  max-width: 400px;
  width: 50vw;
  min-width: 300px;
}

.input-box {
  height: 50px;
  border: none;
  box-shadow: 10px 10px 10px grey;
  padding: 0 10px;
  flex-grow: 1;
}

.input-row {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 20px;
}

.round-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  border-color: gray;
}

.otp-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
}

.otp-box {
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 10px 10px 40px gray;
  text-align: center;
}

.gender-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.gender-ava {
  cursor: pointer;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.gender-radio:checked + .gender-ava {
  box-shadow: 0 0 10pt 2pt gray;
}

.ava-input {
  visibility: hidden;
}

.upload-ava-row {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.upload-ava-box {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

.upload-ava {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.upload-ava-text {
  display: inline-block;
  margin-left: 20px;
}

/* #### Map #### */

.booking-page {
  padding-top: 26px;
  height: calc(100vh - 90px);
  height: -webkit-calc(100vh - 90px);
  height: -moz-calc(100vh - 90px);
  height: -o-calc(100vh - 90px);
}

.map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.confirm-board {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 30vw;
  min-width: 300px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 20px;
}

.confirm-board .row {
  align-items: center;
  cursor: pointer;
}

.confirm-board img {
  width: 20px;
  height: 20px;
  flex-grow: none;
}

.confirm-board h4, .confirm-board p {
  margin: 0;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.back-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}